nav {
    width: 96%;
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 960px) {
    nav {
        display: flex;
        justify-content: center;
    }
}


@media only screen and (max-width: 1400px) {
    nav {
        display: flex;
        justify-content: center;
    }
}